<div class="vertical-center-row">
  <div class="well">
    <text style="font-family:Lobster; font-size:40px"><center><strong>This is Gif Fave!</style></strong></center></text>
    <center>
      <p>With a user account, you can view a list of awesome gifs, create a favorites list,</p>
      <p>and share to Facebook!</p>
      <p>From the menu above, you can <strong>view all</strong> the available gifs, <strong>create an account</strong>, </p>
      <p>or <strong>login</strong> if you're already set up!</p>
    </center>
  </div>
</div>
